
h1 {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-top: 400px;
}

span {
    /* make it shake intensively */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#S {
    background-color: red;
}

#E {
    background-color: orange;
}

#C {
    background-color: yellow;
}

#R {
    background-color: green;
}

#E2 {
    background-color: blue;
}

#T {
    background-color: purple;
}


#P {
    background-color: deeppink;
}

#A {
    background-color: red;
}

#G {
    background-color: orange;
}

#E3 {
    background-color: yellow;
}